/* Cart Page Styling */

.checkout-container {
  text-align: center;
  background-color: white;
  padding: 2em 0em;
  border: 2px solid #9DAB86;
  border-radius: 1em;
  width: 80%;
  margin: 5em auto 10em auto;
}

.checkout-sub-container {
  border: 1px solid black;
  margin: 0px 100px;
  padding: 10px 0px;
}

.checkout-title {
  text-align: center;
  margin-top: 150px;
}

.pickup-information-container {
  margin: 30px 0px;
}

.shopping-bag-summary {
  /* text-align: center; */
}

.summary-container {
  padding: 50px 50px;
  margin: 0 auto;
}

.summary-item {
  line-height: 0.75em;
  padding-left: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.summary-item-name {
  margin-right: 5px;
}

.summary-item-price {
  margin-left: 5px;
}

.promo-btn {
  padding: 5px 10px;
  background-color: #6D8B74;
  border: none;
  color: #EFEAD8;
}

.promo-btn:hover {
  opacity: 0.85;
}

.place-order-link {
  color: #EFEAD8;
  text-decoration:none;
  padding: 5px 10px;
  background-color: #5F7161;
  margin: 10px 0px;            
}

.place-order-link:hover {
  text-decoration: none;
  color: #EFEAD8;
  opacity: 0.85;
}
