
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  font-family: 'Lora', serif;
}

body, header {
  background-color: #DED7B1;
}

/* Header Styling */

header {
  width: 100%;
  position: fixed;
  top: 0;
}

.navbar li {
  padding: 10px;
}

.navbar li a {
  text-decoration: none;
  font-size: 20px;
} 

.nav-link:hover {
  cursor: pointer;
  opacity: 0.75;
  border-bottom: 2px solid #E08F62;
}



/* Main Content Styling */

/* Section 1 */
.farm-food-intro-text {
  padding: 50px 30px;
  margin: 0 auto;
  margin-top: 150px;
  width: 90%;
}

.farm-food-intro-text p {
  font-family: 'Playfair Display', serif;
  font-size: 1.75em;
}

.highlight {
  background-color: rgba(224, 143, 98, 0.5);
  padding: 0 5px;
}


/* Section 2 */
.section2-content {
  background-color: #9DAB86;
  width: 80%;
  margin: 0 auto;
  padding: 30px;
}

.row1, .row2 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.row-item {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 30px;
}

.row-item img {
  margin-right: 30px;
}


/* Section 4 */
.about-text {
  padding: 40px 50px;
  margin: 50px 0px;
  text-align: center;
  background-color: rgb(157, 171, 134, 0.25);
  width: 100%;
  font-size: 20px;
}

.about-text p {
  margin-bottom: 0px;
}

.about-list {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  padding: 10px 0px;
  margin-bottom: 20px;
}

.about-list-title {
  padding: 15px 0px;
}

.list-item {
  list-style: none;
  text-align: left;
  font-size: 18px;
}





/* Section 3 */
.nutrition-signup {
  width: 50%;
  margin: 60px auto;
  padding: 20px;
  text-align: center;
}

.nutrition-signup h2, .nutrition-signup h3 {
  text-align: center;
  padding: 10px 0px;
}

.signup-btn {
  background-color: #E08F62;
  border: none;
  border-radius: 100px;
  color: #ffffff;
  padding: 10px 50px;
  font-size: 18px;
  font-weight: bold;
  margin-top: 10px;
}

/* Footer Styling */

#footer {
  display: block;
  width: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
}

.curve svg {
  display: block;
}


#footer .copyright {
  text-align: center;
  bottom: 0;
  background-color: #9DAB86;
  padding-bottom: 20px;
}

#footer .newsletter {
  text-align: center;
  padding-bottom: 10px;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0.05em;
}

#footer .section-2 {
  background-color: #9DAB86;
}

#footer .section-2 button {
  background-color: #CC7351;
  align-items: center;
  border: 0;
  border-radius: 100px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  max-width: 480px;
  min-height: 40px;
  min-width: 0px;
  overflow: hidden;
  padding: 10px 50px;
  text-align: center;
  touch-action: manipulation;
  transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0.2em;
}

.email-subscribe {
  margin: 0 auto;
  text-align: center;
  height: auto;
  width: 35%;
  padding-bottom: 50px;
}

#footer .section-2 input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

/* Shopping Styling */

.shopping-item {
  padding: 10px 20px;
}

.shopping-item:hover {
  background-color: #6D8B74;
  
}




/* Responsive Screen Styling */

@media only screen and (max-width: 650px) {
  .farm-food-intro-text {
    font-size: 12px;
  }
  
}
@media only screen and (min-width: 1000px) and (max-width: 1200px) {
  
}

@media only screen and (max-width: 990px) {
  
}