/* Cart Page Styling */

.checkout-container {
  text-align: center;
  display: block;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding: 2em 0em;
  border: 2px solid #9DAB86;
  border-radius: 1em;
  margin-left: 2em;
  margin-right: 2em;
  margin-top: 10em;
  margin-bottom: 10em;
}

.checkout-sub-container {
  border: 1px solid black;
  margin: 0px 100px;
  padding: 10px 0px;
}

.checkout-title {
  position: relative;
  top: 130px;
  text-align: center;
}

.pickup-information-container {
  margin: 30px 0px;
}

.summary-container {
  text-align: left;
  display:inline-flex;
  background-color: white;
  padding: 50px 50px;
}

.summary-item {
  line-height: 0.75em;
  padding-left: 30px;
}

.promo-btn {
  padding: 2px 10px;
  background-color: #6D8B74;
  color: #EFEAD8;
}

.place-order-btn {
  padding: 5px;
  background-color: #5F7161;
  margin: 10px 0px;
}

.place-order-link {
  color: #EFEAD8;
  text-decoration:none;
  padding: 5px 10px;
}
