/* Contact Page Styling */

.contact-form {
  display: block;
  justify-content: center;
  align-items: center;
  padding: 2em 0em;
  border: 2px solid #9DAB86;
  border-radius: 1em;
  margin-left: 2em;
  margin-right: 2em;
  margin-top: 10em;
  margin-bottom: 10em;
}

.contact-form h2 {
  text-align: center;
  padding: 0px 0px 20px 0px;
}
form input[type=text], form input[type=submit], form input[type=email], form label, form button, form textarea {
  display: block;
  margin: 0 auto;
  text-align: center;
 
}

form input[type=text], form input[type=email], form textarea {
  margin-bottom: 10px;
  height: 2.5em;
  width: 50%;
}

form label {
  padding-top: 20px;
}

form textarea {
  height: 200px;
}

form input[type=submit] {
  background-color: #CC7351;
  align-items: center;
  border: 0;
  border-radius: 100px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  justify-content: center;
  max-width: 480px;
  min-height: 40px;
  min-width: 0px;
  overflow: hidden;
  padding: 10px 50px;
  text-align: center;
  touch-action: manipulation;
  transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0.2em;
  margin-top: 30px;
}

/* Meet Team Page Styling */

.team-pics {
  margin-top: 130px;
}

.container .team-pics .founders {
  display: flex;
  padding-left: 45px;
}

.founders-text {
  width: 50%;
  padding: 0px 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.founders-header h3, .founders-header p {
  text-align: center;
}

.meet-founders {
  padding-bottom: 15px;
}

.about-founders {
  justify-content: center;
  vertical-align: middle;
  overflow: visible;
  font-size: 18.0px;
  line-height: 0.05em;
}

.container .team-pics .other-members {
  display: block;
  padding-top: 55px;
}

.members-text {
  padding-bottom: 55px;
}

.members-text p {
  text-align: center;
  font-size: 20px;
}

.container .team-pics .other-members .members-pics .group1 img, .container .team-pics .other-members .members-pics .group2 img {
  display: inline;
  /* padding: 10px 10px; */
  margin: 5px 10px;
}

.container .team-pics .other-members .members-pics .group1, .container .team-pics .other-members .members-pics .group2 {
  text-align: center;
}

.container .team-pics .other-members .members-pics {
  display: block;
  
}

.container .team-pics .founders img {
  height: 350px;
  width: auto;
  border-radius: 25px;
  border: 10px double #9DAB86;
  padding: 5px;
}

.container .team-pics .other-members .members-pics img {
  height: 250px;
  width: auto;
  border-radius: 25px;
  border: 10px solid white;
}


/* Shop Page Styling */

.shop-container {
  margin-top: 150px;
}

.shop-header {
  text-align: center;
  font-size: 20.0px;
  font-weight: bold;
}

.shop-items {
  padding: 30px 0px;
}

.shop-items .shop img {
  height: 250px;
  width: 200px;
  border: 10px solid white;
}

.shop {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

.item-description {
  height: 350px;
  width: 350px;
  margin: 20px 0px;
}

.item-description h5 {
  padding-top: 5px;
}

.buttons {
  display: inline-flex;
  background-color: white;
  padding: 0px 15px;
}

.item-description .buttons i {
  padding-right: 10px;
}

.quantity {
  padding-right: 10px;
}

.go-to-cart {
  text-align: center;
}

.go-to-cart a {
  text-decoration: underline;
  color: #CC7351;
  font-weight: bold;
  font-size: 22px;
}

.go-to-cart a:hover {
  text-decoration: none;
  color: #CC7351;
  opacity: 0.5;
  font-weight: bold;
  font-size: 22px;
}

/* About Page Styling */

.about-section1 img, .about-section2 img {
  height: auto;
  width: 300px;
  margin-left: 50px;
  padding: 30px 0px;
}

.about-section1, .about-section2 {
  display: flex;
  margin-top: 150px;
}

.about-section1 section, .about-section2 section {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about-section1 p, .about-section2 p {
  text-align: center;
  margin: 0 auto;
  margin-left: 50px;
  margin-right: 50px;
  font-size: 20px;
}

.about-text {
  padding: 40px 200px;
  margin: 50px 0px;
  text-align: center;
  background-color: rgb(157, 171, 134, 0.25);
  width: 100%;
  font-size: 20px;
}

.about-list {
  text-align: center;
}

.list-items {
  display: flex;
  width: 100%;
  justify-content: center;
}

.list-items-sub {
 display: block;
 margin: 0 auto;
}

.about-list-items-header {
  padding-bottom: 10px;
  text-align: center;
}

.about-list-items-header h3 {
  font-weight: bold;
  padding: 2.5px 0px;
  text-align: center;
}

.about-list-items li {
  list-style: none;
  text-align: left;
}


/* Responsive Design Styling */

@media only screen and (max-width: 1000px) {
  .about-section1 img, .about-section2 img {
    margin-left: 0px;
    padding: 20px 0px;
  }

  .about-section1, .about-section2 {
    display: block;
    text-align: center;
  }
 
  .about-section1 p, .about-section2 p {
    padding-top: 10px;
    font-size: 14px;
  }

  .about-text {
    padding: 40px 75px;
    margin: 50px 0px;
    text-align: center;
    background-color: rgb(157, 171, 134, 0.25);
    width: 100%;
    font-size: 20px;
  }
  
  .about-list-items-header h3 {
    font-size: 25px;
  }
  
  .about-list-items li h4 {
    font-size: 20px;
  }

  .container .team-pics .founders {
    display: block;
    text-align: center;
    padding-left: 0px;
  }

  .founders-text {
    width: 100%;
    padding: 10px 0px;
    justify-content: center;
  }
  
  .container .team-pics .founders img {
    height: auto;
    width: 300px;
    border-radius: 25px;
    border: 10px double #9DAB86;
    padding: 5px;
  }
}

/* Cart Page Styling */

.cart-container {
  text-align: center;
  display: block;
  justify-content: center;
  align-items: center;
 
  padding: 2em 0em;
  border: 2px solid #9DAB86;
  border-radius: 1em;
  margin-left: 2em;
  margin-right: 2em;
  margin-top: 10em;
  margin-bottom: 10em;
}

.checkout-title {
  position: relative;
  top: 130px;
  text-align: center;
}

